
$bottom-nav:20px;
$desc-font4:12px;
$desc-font3:14px;
$icon2:14px;
$h2-font:16px;
$h1-font:18px;
$lange-font:24px;
$max-font:36px;
$white:#ffffff;
$desc3-color:#999999;
$h2-color:#666666;
$h1-color:#333333;
$error:#f25949;
$d8c:#d8d8d8;
$tabHeight:40px;
$nav-gradient-bg:linear-gradient(#11BDFC#11B6f3);
.vertical-center {
    display: flex;
    align-items: center;
    justify-content: center;
}