﻿/*公共样式--开始*/
html, body, div, ul, li, h1, h2, h3, h4, h5, h6, p, dl, dt, dd, ol, form, input, textarea, th, td, select,i,span {
  margin: 0;
  padding: 0;
}
*{box-sizing: border-box;}
html, body {
  width: 100%;
  height:100%;
  min-height: 100%;
}

body {
  background: #eaeaee !important;
  font-family: "Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "SimSun", "sans-serif";
  font-size:14px;
}
.hand {
  cursor: pointer;
}

.el-main {
  background:#eaeaee !important;
  padding-bottom: 52px !important;
  overflow: visible;
  padding: 20px 30px !important;
  width:100% !important;
  min-width:1263px;
}
.el-main .content {
  width: auto;
  min-width:1203px;
}
.el-input__icon {
  line-height: 30px;
}
@media screen and (min-width:1441px){
 .el-main {
   margin-left:190px;
  }
}
.el-input__inner {
  line-height:30px;
  height:30px;
}
.el-table thead th {
  font-weight:100 !important;
  line-height: 44px !important;
}
.el-table tbody tr {
  height: 40px !important;
  font-size: 14px !important;
}
.el-table .el-loading-mask {
  z-index: 90 !important;
}
.el-container {
  height: auto !important;
}
h1, h2, h3, h4, h5, h6{font-weight:normal;}
ul,ol {
  list-style: none;
}

img {
  border: none;
}

.titleP span ,
.titleP a{
  color:#808080;
}
input, textarea {
  outline: none;
  border: none;
}

textarea {
  resize: none;
  overflow: auto;
  font-family:"Helvetica Neue", "Helvetica", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "SimSun", "sans-serif";
}

.clearfix {
  zoom: 1;
}

.clearfix:after {
  content: ".";
  width: 0;
  height: 0;
  visibility: hidden;
  display: block;
  clear: both;
  overflow:hidden;
}

.fl {
  float: left
}

.fr {
  float: right
}

.tl {
  text-align: left;
}

.tc {
  text-align: center
}

.tr {
  text-align: right;
}

.ellipse {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: #BEBEBE;
}

input:-moz-placeholder,
textarea:-moz-placeholder {
  color: #BEBEBE;
}

input::-moz-placeholder,
textarea::-moz-placeholder {
  color: #BEBEBE;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: #BEBEBE;
}

.icon-XSLtubiao {
  color: #8BC755
}
.icon-Ztubiao {
  color: #57C1FF
}
.icon-AItubiao {
  color: #FF8400
}
.icon-AVItubiao {
  color: #EF3450
}
.icon-BMPtubiao {
  color: #C9BE18
}
.icon-EPStubiao {
  color: #407BF8
}
.icon-EXEtubiao {
  color: #F6E400
}
.icon-FLVtubiao {
  color: #DA3C09
}
.icon-DOCtubiao {
  color: #3878DE
}
.icon-GIFtubiao {
  color: #84DC00
}
.icon-MOVtubiao {
  color: #B0D700
}
.icon-HTMLtubiao {
  color: #6CB600
}
.icon-MPtubiao {
  color: #3482F0
}
.icon-PDFtubiao {
  color: #EA4318
}
.icon-MPtubiao1 {
  color: #474DE2
}
.icon-PPTtubiao {
  color: #F85207
}
.icon-PNGtubiao {
  color: #FCCC00
}
.icon-PSDtubiao {
  color: #3676F4
}
.icon-RARtubiao {
  color: #8D51DB
}
.icon-SVGtubiao {
  color: #1A8EF7
}
.icon-SWFtubiao {
  color: #B56B00
}
.icon-RPtubiao {
  color: #713CBE
}
.icon-TIFtubiao {
  color: #43A73B
}
.icon-TXTtubiao {
  color: #55D7E0
}
.icon-ZIPtubiao {
  color: #DC4EC1
}
.icon-JPGtubiao {
  color: #3DB6FB
}
.icon-WPStubiao {
  color: #33D39D
}
.icon-TARtubiao {
  color: #BA4CD7
}
.el-input__icon {
  line-height: 30px;
}
.el-button {
  padding: 0 20px;
  line-height: 30px;
}
.el-button--small {
  font-size: 14px;
}
#caozuo {
  margin-left: 0px !important;
}